.text-center{
    text-align: center;
    color: rgb(133, 146, 36);
}
.container{
    color: brown;
    background-color: #aaaade;
    padding-top: 10px;
    /* margin: auto; */
    /* max-width: 21vw; */
}
.flex{
    display: flex;
}
    /* Flexbox, or Flexible Box Layout, is a CSS layout model designed to provide a more efficient way to layout, align, and distribute space among items in a container, even when their size is unknown or dynamic. Flexbox is particularly useful for creating complex layouts that are responsive and adaptive to different screen sizes and devices. */
.flex-col{
    flex-direction: column;
    justify-content: center;
}
.item-center{
    align-items: center;

}

/* .mx-auto{
    margin: auto;
}
.m-w-20{
    max-width: 20vw;    
}
     */
 /* .button{
    padding: 17px;
 } */


